.main-page {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  padding-bottom: 315px;
  background: #F6F3F3;
}

.main-page__heading {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 45px;
  font-weight: 700;
  font-size: 24px;
}
